.pieceBase {
  width: 6em;
  height: 6em;
  position: relative;
  cursor: pointer;
}

.tab {
  background-color: aqua;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  width: 2em;
  height: 2em;
  position: absolute;
}

.pieceBase .t1 {
  top: -1.6em;
  left: 1.8em;
  position: absolute;
}

.pieceBase .t0 {
  display: none;
}

.pieceBase .t-1 {
  width: 1.6em;
  height: 1.6em;
  top: -0.6em;
  left: 2em;
  background-color: #fff;
}

.pieceBase .r0 {
  display: none;
}

.pieceBase .r1 {
  top: 1.9em;
  left: 5.5em;
}

.pieceBase .r-1 {
  width: 1.6em;
  height: 1.6em;
  top: 2em;
  left: 4.8em /*4.7em*/;
  background-color: #fff;
}

.pieceBase .b0 {
  display: none;
}

.pieceBase .b1 {
  top: 5.5em;
  left: 1.9em;
}

.pieceBase .b-1 {
  width: 1.7em;
  height: 1.7em;
  top: 4.5em;
  left: 2em;
  background-color: #fff;
}

.pieceBase .l0 {
  display: none;
}

.pieceBase .l1 {
  top: 1.9em;
  left: -1.5em /*-1.5em*/;
}

.pieceBase .l-1 {
  width: 1.6em;
  height: 1.6em;
  top: 2em;
  left: -0.7em;
  background-color: #fff;
}
